.react-select__control {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: var(--black-light);
  border-radius: 20px;
}

.react-select__placeholder,
.react-select__input-container {
  color: white;
  margin: 0 10px;
}

.react-select__single-value {
  color: white;
}

.react-select__multi-value {
  background-color: var(--black3);
  border-radius: 10px;
}
.react-select__multi-value__label {
  color: white;
}

.-selectreact__multi-value__remove {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.-selectreact__multi-value__remove:hover {
  color: var(--black-lighter);
}

.react-select__menu {
  top: 40px;
  margin: 0;
  padding: 0;
}
